Source: spdk
Priority: optional
Maintainer: daos-stack <daos@daos.groups.io>
Build-Depends:
 debhelper,
 python,
 libdpdk-dev (= 21.05), libdpdk-dev (<< 21.11),
 librdmacm-dev,
 libibverbs-dev,
 uuid-dev,
 libaio-dev,
 pkg-config,
 libcunit1-dev,
 libncurses-dev
Standards-Version: 4.3.0
Section: libs
Homepage: http://spdk.io
Vcs-Git: https://github.com/spdk/spdk.git
Vcs-Browser: https://github.com/spdk/spdk

Package: libspdk-dev
Section: libdevel
Architecture: amd64 kfreebsd-amd64
Depends:
 libspdk20 (= ${binary:Version}), libdpdk-dev (= 21.05), libdpdk-dev (<< 21.11),
 ${misc:Depends},
Description: The Storage Performance Development Kit provides a set of tools
 and libraries for writing high performance, scalable, user-mode storage
 applications.
 .
 This package contains the development files needed to build against the shared
 library.

Package: libspdk20
Architecture: amd64 kfreebsd-amd64
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: The Storage Performance Development Kit provides a set of tools
 and libraries for writing high performance, scalable, user-mode storage
 applications.
 .
 This package contains the shared library.

Package: spdk-tools
Section: misc
Architecture: amd64 kfreebsd-amd64
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: The Storage Performance Development Kit provides a set of tools
 and libraries for writing high performance, scalable, user-mode storage
 applications.
