#!/usr/bin/make -f

#export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
# https://github.com/spdk/spdk/issues/2011
export DEB_CFLAGS_MAINT_APPEND = $(shell pkg-config --cflags libdpdk)

%:
	dh $@

override_dh_auto_clean:
	# initial make distclean fails due to:
	if [ ! -f mk/config.mk ]; then     \
	    echo "Skipping dh_auto_clean"; \
	else                               \
	    dh_auto_clean;                 \
	fi

#override_dh_installchangelogs:
#	dh_installchangelogs Release_notes.txt
#
#ifeq (,$(findstring nocheck, $(DEB_BUILD_OPTIONS)))
#override_dh_auto_test:
#	$(MAKE) check
#endif
#
override_dh_auto_configure:
	./configure --with-dpdk               \
	            --prefix=%{_prefix}       \
	            --target-arch=haswell     \
	            --disable-tests           \
	            --disable-unit-tests      \
	            --disable-apps            \
	            --without-vhost           \
	            --without-crypto          \
	            --without-pmdk            \
	            --without-rbd             \
	            --without-iscsi-initiator \
	            --without-isal            \
	            --without-vtune           \
	            --with-shared

#override_dh_auto_build:
#	make V=1 # -j 8

override_dh_auto_install:
	dh_auto_install -- prefix=/usr libdir=/lib/x86_64-linux-gnu/ datadir=/usr/share


override_dh_missing:
	dh_missing --fail-missing
